basedados
[{"id":"9e778893.1e95e8","type":"tab","label":"Base de dados","disabled":false,"info":""},{"id":"b1102193.05d06","type":"group","z":"9e778893.1e95e8","name":"","style":{"fill":"#b797cf","label":true},"nodes":["8201810f.d0b64","dfe6efda.0ec6e","7065545b.93c33c","77d553b1.35aa7c","3373ce6a.5420b2","6069d24a.3e71bc","ca444532.f29cb8"],"x":44,"y":99,"w":1082,"h":202},{"id":"8201810f.d0b64","type":"function","z":"9e778893.1e95e8","g":"b1102193.05d06","name":"","func":"let month;\nlet year;\nlet cur_date = new Date();\n\nmsg.topic = `\nSELECT\n  CONCAT(\n  \t'[',\n  \tGROUP_CONCAT(DAY(\\`date\\`)),\n  \t']'\n  ) AS days,\n  ROUND(SUM(\\`consumo_energia_diario\\`), 3) AS total,\n  FORMAT(round(((sum(\\`consumo_energia_diario\\`) * 0.15184 + 0.1183 + 0.041 + 0.107)*1.23), 2), 2) AS 'total_eur',\n  CONCAT(\n  \t'[\"',\n  \tGROUP_CONCAT(IF(\\`consumo_energia_diario\\` >= 10, 'red', IF(\\`consumo_energia_diario\\` >= 5, 'orange', 'green')) SEPARATOR '\",\"'),\n  \t'\"]'\n  ) AS colors,\n  CONCAT(\n  \t'[',\n  \tGROUP_CONCAT(DAY(\\`date\\`) SEPARATOR ','),\n  \t']'\n  ) AS labels,\n  CONCAT(\n  \t'[',\n  \tGROUP_CONCAT(ROUND(consumo_energia_diario, 2) SEPARATOR ','),\n  \t']'\n  ) AS data,\n  'info in attributes' AS attributes\nFROM \\`consumo_energia\\`\n`;\n\nif (msg.payload == \"Últimos 30 dias\") {\n    msg.topic += \"WHERE `date` BETWEEN CURRENT_DATE - INTERVAL 30 DAY AND CURRENT_DATE;\";\n    msg.label = msg.payload.toLowerCase();\n} else {\n    switch (msg.payload) {\n        case \"Janeiro\":\n            month = 1;\n            break;\n        case \"Fevereiro\":\n            month = 2;\n            break;\n        case \"Março\":\n            month = 3;\n            break;\n        case \"Abril\":\n            month = 4;\n            break;\n        case \"Maio\":\n            month = 5;\n            break;\n        case \"Junho\":\n            month = 6;\n            break;\n        case \"Julho\":\n            month = 7;\n            break;\n        case \"Agosto\":\n            month = 8;\n            break;\n        case \"Setembro\":\n            month = 9;\n            break;\n        case \"Outubro\":\n            month = 10;\n            break;\n        case \"Novembro\":\n            month = 11;\n            break;\n        case \"Dezembro\":\n            month = 12;\n            break;\n    }\n    \n    year = (cur_date.getMonth()+1 > month ? cur_date.getFullYear() : cur_date.getFullYear()-1 );\n    msg.label = msg.payload + \" \" + year;\n    msg.topic += \"WHERE MONTH(`date`) = \"+month+\" AND YEAR(`date`) = \"+year+\";\";\n}\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":400,"y":200,"wires":[["ca444532.f29cb8"]]},{"id":"dfe6efda.0ec6e","type":"ha-entity","z":"9e778893.1e95e8","g":"b1102193.05d06","name":"PZEM","server":"cd683d65.68ba9","version":1,"debugenabled":false,"outputs":1,"entityType":"sensor","config":[{"property":"name","value":"pzem_energy_db"},{"property":"device_class","value":""},{"property":"icon","value":""},{"property":"unit_of_measurement","value":""}],"state":"payload[0].attributes","stateType":"msg","attributes":[{"property":"days","value":"payload[0].days","valueType":"msg"},{"property":"total","value":"payload[0].total","valueType":"msg"},{"property":"colors","value":"payload[0].colors","valueType":"msg"},{"property":"labels","value":"payload[0].labels","valueType":"msg"},{"property":"data","value":"payload[0].data","valueType":"msg"},{"property":"label","value":"label","valueType":"msg"},{"property":"total_eur","value":"payload[0].total_eur","valueType":"msg"}],"resend":true,"outputLocation":"","outputLocationType":"none","inputOverride":"allow","x":1050,"y":200,"wires":[[]]},{"id":"7065545b.93c33c","type":"poll-state","z":"9e778893.1e95e8","g":"b1102193.05d06","name":"trigger select","server":"cd683d65.68ba9","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"updateinterval":"60","updateIntervalUnits":"seconds","outputinitially":true,"outputonchanged":true,"entity_id":"input_select.energy_daily_graph_select","state_type":"str","halt_if":"Últimos 30 dias","halt_if_type":"str","halt_if_compare":"is_not","outputs":2,"x":140,"y":200,"wires":[["3373ce6a.5420b2","8201810f.d0b64"],["8201810f.d0b64"]]},{"id":"77d553b1.35aa7c","type":"comment","z":"9e778893.1e95e8","g":"b1102193.05d06","name":"PZEM","info":"","x":120,"y":140,"wires":[]},{"id":"3373ce6a.5420b2","type":"stoptimer","z":"9e778893.1e95e8","g":"b1102193.05d06","duration":"30","units":"Minute","payloadtype":"num","payloadval":"0","name":"","x":420,"y":260,"wires":[["6069d24a.3e71bc"],[]]},{"id":"6069d24a.3e71bc","type":"api-call-service","z":"9e778893.1e95e8","g":"b1102193.05d06","name":"PZEM set \"Últimos 30 dias\"","server":"cd683d65.68ba9","version":1,"debugenabled":false,"service_domain":"input_select","service":"select_option","entityId":"input_select.energy_daily_graph_select","data":"{\"option\":\"Últimos 30 dias\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":680,"y":260,"wires":[[]]},{"id":"ca444532.f29cb8","type":"mysql","z":"9e778893.1e95e8","g":"b1102193.05d06","mydb":"cd87069d.cf4cb8","name":"","x":650,"y":200,"wires":[["dfe6efda.0ec6e","9ae8fec2.2003c"]]},{"id":"9ae8fec2.2003c","type":"debug","z":"9e778893.1e95e8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":860,"y":400,"wires":[]},{"id":"cd683d65.68ba9","type":"server","name":"Home Assistant","legacy":true,"addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true,"cacheJson":true},{"id":"cd87069d.cf4cb8","type":"MySQLdatabase","name":"Consumos Energeticos","host":"core-mariadb","port":"3306","db":"custom_data","tz":"","charset":""}]
